* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#galeria {

    width: 100px;
    height: 100px;
    background-color: red;
    padding: 10px;
    border: 6px solid;
}

body {
    display: flex;
}